@use 'base/variables' as v;
@use 'base/mixins' as m;

.transparente{
    background-color: rgba(29, 255, 41, 0.9);
    

    border-radius: 12px;
    height: 52rem;
    margin: 0 auto;
    max-width: 35rem;
}

@include desktop{
    .transparente{
        background-color: rgba(29, 255, 41, 0.9);
        
    
        border-radius: 12px;
        height: 47rem;
        margin: 0 auto;
        width: 40rem;
    }
}

.formulario-cuenta {
    width: 95%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;

}

.campo {
    // display: flex;
    margin-bottom: 2rem;
    align-items: center;

    p{
        font-size: 5.4rem;
        // color: $grisOscuro;
        margin: 2rem 0 0 0;

    }

    label {
        flex: 0 0 10rem;
        color: white;
    }

    input {
        flex: 1;
        border: 1px solid v.$grisOscuro;
        padding: calc(v.$separacion / 5);
        border-radius: 1rem;
        width: 100%;

        &:disabled {
            background-color: lighten(v.$negro, 50%);
            color: v.$negro;
            cursor: not-allowed;
        }
    }
}

.color-b{
    @include m.boton(#1b6203, v.$width);
    border-radius: 10px;
}

.color-b:hover{
    background-color: #37bc0a;
}
