
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: center;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}