@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: #0809088c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    margin-right: 0rem;
    border-radius: 15px;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // padding: 2rem;

    }
    

}

.navegacion{
    visibility: visible;
    opacity: 1;


    @include tablet {
        margin-right: 0;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    @include desktop{
        margin-right: 0;
    }

    a{

        color: $negro;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 0rem;

            &:last-of-type {
                margin-right: 0;
            }
        }



        &:hover {
            color: $verde;
        }

    }
}

.boton-cerrar-sesion a{
    @include m.boton(#545753, v.$width2);
    border-radius: 10px;
    padding: .5rem 1rem .5rem 1rem;
    align-items: center;
    margin-top: 0;
    
}

.nombre-usuario p{
    color: v.$blanco;
    padding-left: 1rem;
}

